<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{!-- Для того чтобы в меню подсвечивалось выбранная страниица--}}
            {{#if isIndex}}
            <li class="active"><a href="/">To Do List</a></li>
            {{else}}
            <li><a href="/">To Do List</a></li>
            {{/if}}

            {{#if isCreate}}
            <li class="active"><a href="/create">Create</a></li>
            {{else}}
            <li><a href="/create">Create</a></li>
            {{/if}}

        </ul>
    </div>
</nav>