<form action="/create" method="POST">
    <h2 class="myh2">Create To Do</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>TO DO title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>